body {
    background:  #fff;
    color: #f7f7f7;
    font-family: 'Montserrat', sans-serif;
}

h1, h2 {
    font: "Montserrat";
    font-weight: bold;
}

h3 {
    margin-top: 0;
}

.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    color: #e67300;
}

.jumbotron {
    background-image: url("background.png");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #e67300;
    text-align: left;
}
.jumbotron p {
    color: #e67300;
    font-size: 20px;
}

.btn-primary {
  color: #fff;
  background-color: #27A967;
  border-color: white;
  margin-bottom: 5px;
  -webkit-transition:0.5s ease-in-out;
}
.btn-primary:hover {
  color: #27A967;
  background-color: white;
  border-color: white;
}

.navbar-inverse {
  background: #339966;
  border: 0;
}
.navbar-inverse .navbar-nav li a {
  color: white;
  font-size: 16px;
}
.navbar-inverse .navbar-nav li a:hover {
  background: #40bf80;
}

.dropdown-menu {
  background: #2E2F31;
  border-radius: 0;
  border: 0;
}
.dropdown-menu li a {
  padding: 10px;
}
.navbar-inverse .navbar-nav .dropdown-menu li a:hover {
  background: #2C463C;
}

.col-md-6 {
    padding-top:20px;
    color: #26734d;
}

.sec2padding {
  padding-bottom: 20px;
}

.sec2compass {
  color: #26734d;
  padding-bottom: 5px;
  padding-left: 13px;
  padding-top: 20px;
}

.container-margin-video{ /* The video conatainer */
    padding-top:50px;
    padding-bottom:50px;
}

.sec3title {
    color: #26734d;
}
